:root {
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 10px 20px;
  margin: 10px;
  font-weight: 500;

  background-color: #353535;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #64ffd6;
}

textarea {
  color: black;

  font-size: large;

  height: 30vh;
  width: 35vh;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note-card {
  color: black;
  height: 30vh;
  width: 35vh;

  margin: 20px 20px 5px ;
}
.note-card p {
  padding: 20px;
}

.color-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
.color-controls input {
  margin-left: auto;
  width: 50px;
}
.color-controls label {
  padding-left: 10px;
}